/* Sidebar Styles */
.sidebar {
  background-color: #097969;
  width: 250px;
  position: fixed;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 10px;
}

/* Name Styles - Adjusted for Right Alignment */
.name {
  color: #90bfc5;
  font-weight: 300;
  margin-bottom: 40px;
  align-self: flex-start; /* Align to the left of the sidebar */
  margin-left: 40px; /* Shift to the right */
}

/* Navigation Links */
.sidebar-nav {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.sidebar-link {
  color: #fdebd0;
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
}

.sidebar-link.active {
  font-weight: bold;
}
